SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", MODE="0666", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AC019A4O", SYMLINK+="SServo", RUN+="/home/fw/donttouch/change_timer.sh %k"
